* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 960px;
  height: fit-content;
  margin: 50px 0;
  background-color: blue;
}

p,
section {
  margin-left: 5px;
}

.containts {
  margin: 0 auto;
  position: relative;
  width: 90%;
  border: 1px solid #cccccc;
  float: left;
}

.image {
  width: 280px;
  height: 200px;
  margin: 0 auto;
}

.step {
  background-color: orange;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.containts:nth-child(2) {
  margin: 0 30px;
}

@media screen and (max-width: 768px) {
  .containts {
    width: 90%;
  }
  .containts: :first-child {
    margin-top: 50px;
  }
  .containts:nth-child(2) {
    margin: 20px 0;
  }
  .containts:last-child {
    margin-bottom: 50px;
  }
  .image,
  .section,
  p {
    width: 90%;
  }
  .step {
    size: 15%;
  }
}
