* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 960px;
  height: fit-content;
  margin: 50px auto;
  background-color: blue;
}

p,
section {
  margin-left: 5px;
}

.containts {
  position: relative;
  width: 300px;
  border: 1px solid #cccccc;
  float: left;
}

.image {
  width: 280px;
  margin: 10px;
}

.step {
  background-color: orange;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.containts:nth-child(2) {
  margin: 0 30px;
}
